*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: gray;
    padding: 10px;
    margin: 50px;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* height: 500px; */
    /* align-content: start; */
}
.item{
    background-color: red;
    color: white;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
    flex-grow:1;
    
}
.item-1{
    /* order: 3; */
    /* flex-grow: 5; */
}
.item-2{
    /* order: 1; */
}
.item-3{
    /* order: 4; */
}
.item-4{
    /* order: 5; */
}
.item-5{
    /* order: 2; */
}











